@tailwind base;
@tailwind components;
@tailwind utilities;

.centered-container {
  @apply mx-auto   max-w-screen-xl mt-8 mb-16;
}

.section {
  @apply mt-8 mb-16;
}

/* Header Css start from here */

.mx-auto.max-w-7xl.px-4.sm\:px-6.lg\:px-8 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-base {
  line-height: 1.5rem;
  /* font-family: freight-big-pro; */
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .06em;
  text-transform: none;
  color: #52524e;
}

.text-base:hover {
  color: rgba(82,82,78,.4);
  transition: color 170ms ease-in-out, 
  background-color 170ms ease-in-out;
}

img.hidden.lg\:block {
  max-width: 145px;
}
    /* mobile view */
img.block.lg\:hidden {
  width: 90px;
  margin-left: 10rem;
}

tr.bg-emerald-500.font-bold {
  background: #52524e;
  color: #ffffff;
}

.h-96 {
  height: 30rem;
}

.hidden.ml-\[14rem\].md\:flex.md\:space-x-6 {
  padding: 12px 18px;
  margin: 0.6625rem 0.8rem;
  margin-left: 7rem;
}

button{
  padding: 12px 18px;
  box-shadow: none;
  border: 2px solid #666000;
  color: #666000;
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  font-size: 14.75px;
}

button:hover {
  background-color: #666000;
  color: #fff;
  transition: 170ms ease-out;
}

.button-view-more.h-10.w-30.bg-green-400.mt-4.text-center {
  padding: 6px 2px;
  background-color: #666000;
  color: #fff;
}

.button-view-more.h-10.w-30.bg-green-400.mt-2 {
  border: 2px solid #666000;
  color: #666000;
  padding: 6px 2px;
  background: #FFF !important;
}

footer.bg-white {
  background-color: #bebfb5;
}

footer#footer {
  background-color: #bebfb5;
  padding: 90px 0;
  display: block;
  line-height: 1;
  /* color: #666000; */
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
  width: 100%;
  height: 38vh;
}

.clear:before {
  content: "";
  display: table;
}

footer#footer .container>div {
  float: left;
  padding: 0 40px;
}

footer#footer .abt {
  width: 33%;
}

footer#footer h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: cursive;
}

footer#footer .desc {
  color: #52524e;
  font-size: 16px;
  line-height: 24px;
}
#desc-p{
    font-family: freight-big-pro;
    font-weight: 500;
    font-style: normal;
    font-size: 19px;
    letter-spacing: .02em;
    line-height: 1.4em;
    text-transform: none;
    color: #52524e;
}
footer#footer .mnu {
  width: 28%;
}

footer#footer .cmp {
  width: 20%;
}

footer#footer .desc a {
  display: block;
  margin: 0 0 14px;
  text-decoration: none;
  color: #52524e;
  font-size: 16px;
  line-height: 24px;
  transition: all .3s ease 0s;
}

footer#footer .desc a:hover {
  margin-left: 4px;
  font-weight: 500;
  color: #666000;
  transition: all .3s ease 0s;
 
}
footer#footer .os {
  width: 19%;
}

button#butn-01 {
  margin-bottom: 2rem;
  height: 3.5rem;
}

button#butn-02 {
    width: 7rem;
    height: 3.5rem;
}
a.btn-01:hover {
  color: #fff !important;
}
.li-01 {
  float: left !important;
}

.img-01 {
  border-radius: 10px;
  width: 2.3rem;
  margin: 0px 12px 0px 0px;
}

.img-01:hover {
background-color: #ffffff;
}

.sqs-block-content {
  color: #bbb;
  border: none;
  background-color: #bbb;
  height: 0.1rem;
  margin-top: 4rem;
  margin-bottom: -3rem;
}


.flex.h-\[calc\(100vh-242px\)\].border {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.relative.mb-2 {
  padding: 0.5rem;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 3px;
  border-right-width: 1px;
}

h2.text-center.font-bold.text-3xl.pt-8 {
  font-family: futura-pt !important;
  font-weight: 400 !important;
  color: #666000 !important;
  font-size: 2.35rem !important;
}

.text-green-600 {
  font-family: futura-pt !important;
  font-weight: 500 !important;
  font-style: normal;
  text-transform: none;
  line-height: 1.25em;
  color: #52524e !important;
  margin-bottom: 0.85rem;
}
/* New section css start */

.container1 {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr;
  column-gap: 57px;
  padding: 0px 0px 0px 0px;
 }
 
 img {
   max-width: 100%;
   max-height:100%;
 }
 
 .text {
   font-size: 10px;
 }
 @media screen and (min-width: 580px) {
   .container1 {
     display: flex;
   }
 }
 
 .container1 {
     display: grid;
     align-items: center;
     grid-template-columns: 1fr 1fr;
     column-gap: -7px;
 }
 
 .textM {
     /* margin-left: 13%; */
     width: 540px;
     margin-top: 6rem;
 }
 
 .desc-p {
   font-family: freight-big-pro;
   font-weight: 500;
   font-style: normal;
   font-size: 18px;
   letter-spacing: .02em;
   line-height: 1.4em;
   text-transform: none;
   color: #9a9b94;
 }
 .texth1 {
   font-family: futura-pt;
   font-weight: 400;
   font-style: normal;
   font-size: 30px;
   letter-spacing: .08em;
   text-transform: none;
   line-height: 1.25em;
   color: #52524e;
 }
 .sqs-button-element--primary {
   display: inline-block;
   padding: 2em 5em;
   border: 2px solid #666000;
   background-color: #fff;
   font-family: futura-pt;
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   letter-spacing: .3em;
   line-height: 1.1em;
   text-transform: uppercase;
   color: #666000;
   border-radius: 0.1em;
   text-decoration: none;
   width: 33rem;
   text-align: center;
 }
 
 .sqs-button-element--primary:hover {
   opacity: .8;
 }

 .main-container1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 85px 0px 0px 0px;
  width: 54%;
}
.text-second-outer {
    width: 252%;
}

.desc-para {
  font-family: freight-big-pro;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  letter-spacing: .02em;
  line-height: 1.4em;
  text-transform: none;
  color: #9a9b94;
}
.text-inner {
  font-family: futura-pt;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  letter-spacing: .08em;
  text-transform: none;
  line-height: 1.25em;
  color: #52524e;
  margin-top: -10.4rem;
}

.sqs-button-element--secondary {

  display: inline-block;
  padding: 2em 5em;
  border: 2px solid #666000;
  background-color: #fff;
  font-family: futura-pt;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .3em;
  line-height: 1.1em;
  text-transform: uppercase;
  color: #666000;
  border-radius: 0.1em;
  text-decoration: none;
  width: 23rem;
  text-align: center;
}

.sqs-button-element--secondary:hover {
  opacity: .8;
}

.store-heading {
  font-family: freight-big-pro;
    margin-top: 2rem;
    font-weight: 400;
    font-style: normal;
    font-size: 65px;
    letter-spacing: .025em;
    line-height: 1em;
    text-transform: none;
    color: #52524e;
    text-align: center;
}